<footer class="footer">
  <%= raw t "static_pages.footer.desc"%>
  <nav>
    <ul>
      <li><%= link_to t("static_pages.about.index"), about_path %></li>
      <li><%= link_to t("static_pages.contact.index"), contact_path %></li>
      <li><a href="https://news.railstutorial.org/"><%= t "static_pages.footer.news"%></a></li>
    </ul>
  </nav>
</footer>
